
#toolbar {
    width: 100% !important; 
    
}

.diagram-viewport {
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.diagram-svg {
    width: 100%;
    height: 100%;
}

.diagram-svg text {
    user-select: none;
}

.diagram-svg {
    user-select: none;
}